jobs:
  include:
    - stage: unit test
      language: python
      catch: pip
      python:
        - "3.6"
      # command to install dependencies
      install:
        - pip install -r requirements.txt
        - pip install .
      # command to run tests
      script: pytest
             
    - stage: release to pypi
      if: type = push AND tag IS present
      language: python
      catch: pip
      python:
        - "3.6"
      script:
        - echo "Skipping tests"
      deploy:
        provider: pypi
        user: youngfreeFJS
        password:
          secure: "o4eS7MJmEdB+YjgmDxJ53auMq8PgFeU4om7LUW2s8K4GnTOvCJSU1d3F7dY6G+RtvDZn/KNX6jrc116Wx7rpYveff6Lz+wdnLjTLTnspo8SFIyyNm30VvxgPxlM9ebjQfKs5nM/jepYaWumLSJG3Fne/aNbIivLYKHsJeUWMVCn+U2QXsACu0AvF0Bf7R2xOX9g3lLG/a09YrviBAQwMOMz6lhb/d2curEBcONL9B6Dba/ucH/Gd2nomvf4HX6MSox3cOwxJlTjLyS6cKk0n9oftRONYOKxECuFaiPmTbLPS6L5xk0aflXPFyEji7LTwgqSHtlSB9gXr1X7nfdoTqlciLkikYqIQExhgsfLGakRaGHrEmiex+KPFgRt+1/SFfkV8Quu+Ucyrl001g2PQrmrtREFV4aD4sZZE317eU9je6FGyM6nSC5rwaFEvsLmdTIMvG3j65pbNhLXahqlNVC0/i7Zg1gYP5vLNecYVd2dJIjD4oVNlgYCP5QzjfPID1vZxVBMsNOU1XpiK0rv0jXa2Dr4gNmsj4FQtQD5vEm6srAnIAGEYJHQYpmk01f8HV9FE9jHycAhdgE1QsfZ1PEKNI3BUwJ1DWCY2+XzUXXgFgEQ1D87OHkgwCBaJjM6uWIcIU5tSdyUJkjKQYqUlEfX3uKrFwk7hLuo33DZj8pg="
        on:
          tags: true
